<div class="container">
<h2>Genres list</h2>
  <%= form_tag(genres_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
<table>
  <tr>
    <th>ID </th>
    <th>Name</th>
    <th></th>
  </tr>

  <% @genres.each do |genre| %>
    <tr>
      <b></b><td><%= genre.id %> </td>
      <td><%= genre.name %></td></b>
      <% genre.movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.title %></td>
        <td><button type="button" class="btn btn"><%= link_to 'Show', movie_path(movie) %></button></td>
      </tr>
    <% end %>
    </tr>
  <% end %>
</table>
</div>

