<h2>Single movie</h2>


<table>
  <tr>
    <th>Info</th>
    <th>Tile</th>
    <th>Year</th>
    <th>Overview</th>
    <th>Score</th>
    <th>Genre</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @movie.id %></td>
    <td><%= @movie.title %></td>
    <td><%= @movie.year %></td>
    <td><%= @movie.overview %></td>
    <td><%= @current_score %></td>
    <td><%= link_to @movie.genre.name, genre_path(@movie.genre) %></td>
  </tr>
</table>
<%= image_tag @movie.avatar.variant(resize: '400x400') %>

