<div class="container">
  <h2><%= @movie.title %> (<%= @movie.year %>)</h2>
  <p><%= @movie.overview %></p>
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag @movie.avatar.variant(resize: '400x400'),
                    class: "img-fluid" %>
    </div>
    <div class="col-sm-3">
      <h2><%= link_to @movie.genre.name, genre_path(@movie.genre) %></h2>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             aria-valuenow=<%= @current_score %> aria-valuemin="0"
             aria-valuemax="10" style="width:<%=
             if @current_score
             @current_score * 10
              end%>%">
          Score: <%= @current_score %>
        </div>
      </div>
      <table>
        <tr>
          <th>Movie</th>
          <th>Character</th>
          <th>Actor</th>
        </tr>
        <% @movie.roles.each do |role| %>
          <tr>
            <td><%= @movie.title %></td>
            <td><%= role.name %></td>
            <td><%= role.actor.name %></td>
            <td><button type="button" class="btn btn"><%= link_to 'Show', actor_path(role.actor) %></button></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
    <div class="row">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
      <h5><%= link_to 'Back to movies list',
                      movies_list_path %></h5>
      <div id="like_statuses"></div>
  </div>
</div>
